.kit-information {
  h1 {
    font-size: 26px;
    font-weight: bold;
    font-family: 'Galindo', cursive;
  }
  > p {
    color: #414042;
    font-style: italic;
  }
}

.kit-show-image {
  height: 25vh;
  position: relative;
  background-size: cover;
  border: 2px solid #2c9c7c;
  border-radius: 4px;
  background-position: center;
  span {
    width: 35%;
    padding-right: 10px;
    color: black;
    font-weight: bold;
    background-color: #e1ecba;
    position: absolute;
    top: 15px;
    transform: rotate(-6deg);
    font-size: 14px;
    padding: 1px 0px;
    text-align: center;
    border-radius: 4px 0px 0px 4px;
    right: -5px;
  }
}

.kit-show-sm-image {
  width: 100%;
  height: 40vh;
  position: relative;
  background-size: cover;
  border: 2px solid #2c9c7c;
  border-radius: 4px;
  background-position: center;
  span {
    width: 35%;
    padding-right: 10px;
    color: black;
    font-weight: bold;
    background-color: #e1ecba;
    position: absolute;
    top: 15px;
    transform: rotate(-6deg);
    font-size: 14px;
    padding: 1px 0px;
    text-align: center;
    border-radius: 4px 0px 0px 4px;
    right: -5px;
  }
}

.kit-store {
  padding: 10px 10px;
  border-top: 1px solid #979797;
  border-bottom: 1px solid #9c9c9c;
  background-color: #2c9c7c;
  color: white;
  width: 95%;
  box-shadow: 0px 0px 3px #fcfcfc;
  margin: 0 auto;
  border: 1px solid white;
  margin-top: -20px;
  z-index: 1000;
  position: relative;
  transform: rotate(2deg);
  border-radius: 4px;
}

.map-zone {
  border-radius: 4px;
  border: 1px solid #01788c;
  padding: 1px 10px;
  background-color: #01788c0d;
  color: #01788c;
  text-align: center;
  font-weight: bold;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 5px;
}

.kit-information-disclaimer {
  border-radius: 4px;
  border: 1px solid #01788c;
  color: #01788c;
  background-color: #01788c0d;
  padding: 10px 10px;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 6px;
  > div {
    padding: 5px 0px;
  }
  h5 {
    font-size: 16px;
    font-weight: bold;
  }
  .element {
    padding: 0px;
  }
}

.kit-details {
  text-align: center;
}

.kit-input-group {
  width: 45%;
  label {
    font-weight: bold;
    font-size: 14px;
  }
}

.delivery-options {
  fieldset {
    margin: 0px;
  }
  fieldset > legend {
    display: none !important;
  }
}

.kit-disclaimer {
  i {
    padding-right: 5px;
  }
}


.kit-store-logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid white;
}

.kit-store-address {
  margin-top: 4px;
  margin-left: 18px;
  h2 {
    font-size: 18px;
    font-family: 'Galindo', cursive;
  }
  h4 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {
  .kit-input-group {
    width: 100%;
  }
}







// A eliminar

.kitname {
  font-size: 32px;
}
.kitrest{
  font-size: 18px;
}

.recomendation-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

}

.back-button {
  color: #2a94e7;
  width: 200px;
  text-decoration: none;
  position: relative;
  left: -3%;
  font-size: 30px;
}

.product-kit {
  position: relative;
  p {
    margin: 0;
    position: absolute;
    top: 8px;
    right: 0px;
    border-radius: 0px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    background-color: white;
    padding: 2px 8px;
    color: $primary !important;
    font-weight: bold;
    i {
      color: $primary !important;
    }
  }
}

.card-kit-kit-show{
  position: relative;
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 1px 5px lightgrey;
  margin-top: 20px;
  &:hover{
    box-shadow: 1px 1px 5px grey;
  }
  a{
    text-decoration: none;
  }
  div > img {
    width: 100%;
    height: 60%;
    object-fit: cover;
  }
}
@media(max-width: 575px) {
  #ytplayer {
    max-height: 200px;
  }
  .kitnamemob {
    font-size: 10px;
  }

  .recomendation-cards{
    grid-template-columns: 1fr;
  }

  .volveria-cocinarlo {
    font-size: 13px;
  }
  .kitdescr{
    font-size: 14px;
  }
  .kitrest{
    margin-top: 20px;
    font-size: 13px;
  }
  .kittime{
    width: 180px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    border-radius: 3px;
    border-color: rgba(0,0,0,0.1);
  }
  .ingredients-title{
    margin-top: 10px;
  }
  .tambien-title{
    margin-top: 14px;
  }
}
