<div class="m-3 payment-card position-relative">
  <div class="payment-order">
    <h3 class="py-4 px-3">Spaghetti de Remolacha</h3>
    <div class="payment-order-information position-absolute text-center">
      <p>PAGO ACREDITADO</p>
      <div><p>REF: 2931828118</p></div>
    </div>
  </div>
  <div class="d-flex delivery-info">
    <div class="text-center flex-grow-0 ">
      <div class="delivery-amount">
        <p class="amount">3</p>
        <p>KITS</p>
      </div>
    </div>
    <div class="flex-grow-1 delivery-data d-flex p-3">
      <%= render "components/delivery_moto" %>
      <%= link_to root_path do %>
      <div class="ml-3" style="background-color: red; height: 150px; width: 150px;"></div>
      <% end %>
      <div class="ml-4">
        <div></div>
        <div><i class="fas fa-map-marker-alt mr-1"></i></i> San Martin de Tours 2908</div>
        <div><i class="fas fa-building mr-1"></i>Piso 13</div>
        <div class="client-comment">
          <p>Comentario del cliente</p>
          <p class="client-comment-text"><i>"Tocar timbre y esperar"</i></p>
        </div>
      </div>
    </div>
    <div class="flex-grow-0">
      <p>Rodolfo Camara</p>
      <p>+5491153191659</p>
      <p>rodolfo@gmail.com</p>
    </div>
  </div>
  <div>
    MARCAR PEDIDO COMO PREPARADO
  </div>
</div>
