<div class="footer text-center mt-5 " >

  <div class="footer-links">
    <!-- <a href="https://fb.me/easychefarg"><i class="fab fa-instagram mr-3" style="font-size: 30px";></i></a> -->
    <a href="https://www.facebook.com/Cocina-en-casa-100104138340496/" target="_blank"><i class="fab fa-facebook" style="font-size: 30px";></i></a>
    <a href="https://www.instagram.com/cocinaencasa.2020/" target="_blank"><i class="fab fa-instagram mr-3 ml-3" style="font-size: 30px";></i></a>
    <a href = "mailto: cocinaentucasa2020@gmail.com"><i class="fas fa-envelope" style="font-size: 30px";></i></a>
  </div>
  <div class="footer-copyright">
    Powered by Cociná en casa - Soported by Le Wagon and IAE Business School © 2020 Copyright.
  </div>
</div>


