<div class="jumbotron jumbotron-fluid text-center d-flex justify-content-between align-items-center " style="background-image: url(<%= image_url('bghome.jpg') %>); background-size: cover; background-position: top; min-height: 500px;">
  <div class="container">
    <div class="py-2">
      <h1 class="d-xs-none text-white d-md-block ">Tus restaurantes favoritos en la cocina de tu casa</h1>
    </div>
    <div class="container">
      <%= simple_form_for :query, url: kits_path, method: :get do |f| %>
        <div class="d-md-flex align-items-center mx-md-5">
          <div class=" w-sm-100 flex-grow-1 " >
            <%= f.input :address, class: "order-form order_address_address", id:"location", placeholder: "Ingresá tu barrio o localidad", label: false %>
          </div>
            <%= f.submit "Buscar", class: "btn btn-primary ml-md-3 w-sm-100 w-md-25 mb-3", id:"button", disabled:"disabled" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container mx-auto">
  <div class="landing my-4">
    <img src="https://i.imgur.com/EC739GR.png" alt="cocinaencasa app" class= "landing-image">
    <div class="col-md-6 col-sm-12 landing-text">
      <h2 class="landing-title">Elegí el plato de tu restaurante favorito</h2>
      <p class="landing-paragraph">Seleccioná la cantidad de personas, el día y la hora de entrega, agregá la dirección y hacé tu pedido!</p>
    </div>
  </div>

  <div class="landing-reverse my-4">
    <div class ="col-md-6 col-sm-12 landing-text">
      <h2 class="landing-title">Abrí tu pedido</h2>
      <p class="landing-paragraph">Recibí todos los ingredientes necesarios, provistos por nuestros restaurantes, para que cocines tu plato favorito desde la comodidad de tu casa.</p>
    </div>
    <img src="https://i.imgur.com/qVp8w5q.png" alt="caja con el kit" class= "landing-image-reverse">
  </div>

  <div class="landing my-4">
    <img src="https://i.imgur.com/nlEMOkN.png" alt="plato listo" class= "landing-image">
    <div class ="col-md-6 col-sm-12 landing-text">
      <h2 class="landing-title">Creá magia</h2>
      <p class="landing-paragraph">Descubrí la guía interactiva con las instrucciones del paso a paso y viví la experiencia de ser el chef de tu restaurante favorito!</p>
    </div>
  </div>
</div>


<div class="container mx-auto" id="information-background">
  <div class="container text-center" id="information-container">

    <h3 id="info-header">¿QUE CONTIENE TU PEDIDO DE COCINA EN CASA?</h3>
    <div class="information">
      <div class="information-content">
        <img src="https://i.imgur.com/iA9yClb.png" alt="" class="information-image">
        <h4 class="information-title">Recetas deliciosas y saludables</h4>
        <p class="information-description">con nuestras instrucciones del paso a paso para que disfrutes de la experiencia!</p>
      </div>

      <div class="information-content">
        <img src="https://i.imgur.com/mfCLdoK.png" alt="" class="information-image">
        <h4 class="information-title" style="font-size: 20px">Ingredientes frescos y de calidad</h4>
        <p class="information-description">la mejor materia prima para elaborar tus platos.</p>
      </div>
    </div>

    <div class="information">
      <div class="information-content">
        <img src="https://i.imgur.com/w8HpFYt.png" alt="" class="information-image">
        <h4 class="information-title" style="font-size: 20px">Cantidades justas y necesarias</h4>
        <p class="information-description">para evitar desperdicios de alimentos.</p>
      </div>

      <div class="information-content">
        <img src="https://i.imgur.com/40VQBjQ.png" alt="" class="information-image">
        <h4 class="information-title">Un proyecto comprometido con el medio ambiente</h4>
        <p class="information-description"> que reduce la generación de residuos.</p>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5 text-center">
  <a class="typeform-share button shadow" href="https://gasparbaldunciel.typeform.com/to/SHe7qz" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#2f9b7a;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:25px;line-height:62.5px;text-align:center;margin:0;height:62.5px;padding:0px 41px;border-radius:2px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">¡Restaurant sumate!</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
</div>
