.kits-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 32px;
}

#search-restaurant a:visited {
  color: white;
  text-decoration: none;
}

#search-restaurant a:focus {
  color: white;
  text-decoration: none;
}

#search-restaurant a:hover {
  color: white;
  text-decoration: none;
}

#search-restaurant {
  text-align: right;
  margin-top: 25px;
  margin-bottom: 10px;
}

.kits-wrapper a:hover {
  text-decoration: none;
}

.chef-box {
  border-radius: 8px;
  background: #63b0c0;
  font-family: 'Galindo', cursive;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.03);
  transition: 0.4s ease;
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
  h3 {
    font-size: 14px;
    font-weight: lighter;
  }
  p {
    font-size: 14px;
    font-weight: lighter;
    color: #808080;
  }
  &:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  }
}

.chef-box-main {
  border-bottom: 1px solid white;
  border-radius: 7px;
  background-color: white;
  min-height: 150px;
  padding: 15px 10px;
}

.chef-box-image {
  min-width: 150px;
  > div {
    background-size: cover;
    background-position: center;
    height: 120px;
    border-radius: 8px;
    position: relative;
    .difficulty {
      position: absolute;
      bottom: 0px;
      right: 0px;
      padding: 2px 12px;
      color: white;
      font-size: 10px;
      background-color: #414042;
      border-radius: 15px 0px 4px 0px;
    }
  }
}

.chef-box-details {
  color: white;
  padding: 0px 15px;
  text-weight: bold;
  &:first-child {
    text-weight: lighter
  }
}

.tag {
  padding: 1px 10px 2px 10px;
  color: white;
  background-color: #01788c;
  font-size: 9px;
  font-weight: bold;
  margin-bottom: 10px;
}

.kit-status {
  position: relative;
  overflow: hidden;
  border-radius: 4px 4px;
  transition: 0.3s ease;
}

.kit-status:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.no-stock {
  position: absolute;
  background-color: coral;
  z-index: 1;
  color: white;
  padding: 2px 60px;
  transform: rotate(-35deg);
  top: 28px;
  left: -30px;
}

.no-stock {
  position: absolute;
  background-color: coral;
  z-index: 1;
  color: white;
  padding: 2px 60px;
  transform: rotate(-35deg);
  top: 28px;
  left: -30px;
}

.few-stock {
  position: absolute;
  background-color: #E91E63;
  z-index: 1;
  color: white;
  padding: 2px 60px;
  transform: rotate(-35deg);
  top: 28px;
  left: -30px;
  padding-left: 35px;
}

.out-of-stock {
  opacity: 0.4;
}

.scroll-down {
  width: 80%;
  padding: 5px 0px;
  background-color: $soul-green;
  border-radius: 25px;
  margin: 0 auto;
  padding: 5px 15px;
  text-align: right;
  margin-top: 15px;
  margin-bottom: 0px;
  color: white;
  text-align: center;
  border: 1px solid white;
}

span a#restaurants:hover {
  text-decoration: none;
}

// Show

.kit-sm-show {
  width: 45%;
  position: relative;
  background-size: cover;
  border-radius: 4px;
  margin-right: 35px;
  span {
    width: 35%;
    padding-right: 10px;
    color: black;
    font-weight: bold;
    background-color: #e1ecba;
    position: absolute;
    top: 15px;
    transform: rotate(-6deg);
    font-size: 14px;
    padding: 1px 0px;
    text-align: center;
    border-radius: 4px 0px 0px 4px;
    right: -5px;
  }
}


@media only screen and (max-width: 600px) {
  .kits-wrapper {
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }
  .scroll-down {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 3px 6px;
  }
}
