.checkout-group {
  padding: 15px 5px;
  border-top: 1px solid rgba(0,0,0,0.7);
  > div {
    margin-bottom: 5px;
  }
}

.checkout-title {
  font-weight: bold;
}

.checkout-data {
  font-weight: lighter;
}

.checkout-header {
  font-size: 18px;
  font-weight: bold;
}

.checkout-total {
  border-bottom: 2px solid rgba(0,0,0,0.8);
}

.checkout-first {
  border-top: 2px solid rgba(0,0,0,0.8);
}

.checkout-payment > form > button {
  width: 100%;
  font-size: 15px;
  font-family: 'Galindo', cursive;
}

.pay-cash button {
  background-color: #2F9B7A;
  color: white;
  border: 1px solid #111;
  cursor: pointer;
  line-height: 2.7142857142857144;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration: none;
    color: white;
  }
  &:focus {
    outline: none;
  }
}

.identity-validation {
  padding: 5px 10px;
  border-radius: 6px;
  box-shadow: none;
  &:focus {
    outline: 1px solid #2F9B7A;
  }
}
